header {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0 0 auto 0;
  .logo {
    width: 200px;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .listNav {
    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      li {
        a {
          padding: 5px 10px;
          font-size: 1.8rem;
          font-weight: 600;
          color: #1f1f1f;
        }
      }
    }
  }
  .shoppingCart {
    padding: 10px 25px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 99px;
  }
}
.light {
  background-color: white;
}
.dark {
  background-color: #1f1f1f;
  .listNav {
    ul {
      li {
        a {
          color: wheat;
        }
      }
    }
  }
  .shoppingCart {
    background-color: wheat;
  }
}
